# ModelSim
*work/
*.vhd~
*.cr.mti
*.mpf
*transcript
*.wlf
*.vstf
*.bak

# Quartus
*db/
*output_files/
*devkits/
*.qpf
*.qsf
*.qws
*.rpt

# Python
*venv/

# Misc
*.png
posit_input.txt
posit_output.txt
